
.body{

    margin:0;
    padding:0;
    background-image: ;
    }
sign-up-form{
    width: 300px;
    background-color: lightseagreen;
    padding: 20px;
    margin: 8% auto;
    text-align: center;
}
#ending{
    background-color:blue;
    width: 10%;
    padding: 10px;
    position: relative;
    
}